.footer {
  padding: $spacing-3xl 0 $spacing-xl;
  background: var(--bg-secondary);
  border-top: 1px solid var(--border-primary);
  
  &__content {
    text-align: center;
  }
  
  &__text {
    font-size: $font-size-sm;
    color: var(--text-tertiary);
    margin-bottom: $spacing-xs;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
